<div class="w-full p-4 rounded-sm shadow-md">
    <div class="flex">
        <img class="h-28 mr-3" *ngIf="beer?.image_url" [src]="beer?.image_url" [alt]="beer?.name" />
        <div>
            <p class="font-bold">{{beer?.name}}</p>
            <p class="text-sm">{{beer?.description}}</p>
            <hr>
            <p class="text-sm italic mt-2 text-slate-500">{{beer?.food_pairing?.join(', ')}}</p>
        </div>
    </div>

</div>