<h1 class="mt-5 text-center text-8xl font-sans font-light text-cyan-900">🍺 Finder</h1>

<section class="container mx-auto p-3">
  <app-search-input [delay]="1000" (valueChange)="fetchBeers($event,1)" placeholder="Search for an ingredient...">
  </app-search-input>

  <div *ngIf="showSpinner" class="mt-10 flex justify-center align-center">
    <app-spinner></app-spinner>
  </div>

  <div class="flex flex-col">
    <div *ngFor="let beer of beers; trackBy: trackBeer" class="m-5">
      <app-card [beer]="beer"></app-card>
    </div>
  </div>

  <div class="text-center caret-cyan-900 mt-10" *ngIf="beers.length === 0 && !showSpinner && currentValue !== null">
    No results 😢</div>

  <div class="flex justify-around items-center mt-10" *ngIf="beers.length > 0">
    <button type="button" [hidden]="currentPage === 1"
      (click)="fetchBeers(currentValue,currentPage-1)">Previous</button>

    <button type="button" [hidden]="beers.length !== resultPerPage"
      (click)="fetchBeers(currentValue,currentPage+1)">Next</button>
  </div>


</section>